<nav class="navbar navbar-default" style="background-color: rgb(221, 186, 255);">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Recipe books</a>
        </div>

        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active"><a   routerLink="/recipes" >Recipes </a></li>
                <li routerLinkActive="active"><a     routerLink="/shopping-list">Shopping list</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" appDropDown>
                    <a href="#" class="dropdown-toggle" role="button">Mannage <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a style="cursor: pointer;">Save data</a></li>
                        <li><a style="cursor: pointer;">Fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>