#Recipe{
    background-color: rgb(54, 243, 54);
   
}


#deleteRecipe{
    margin-left: 5%;
    background-color: rgb(54, 243, 54);


}
#exampleInput{
    width: 30%;
}

button{
    margin-bottom: 4px;
}
