<div class="row">
    <div class="col-xs-12">

        <label for="text">Name</label>
        <input type="text" class="form-control" id="exampleInput" placeholder="name" [(ngModel)]="name">
        <label for="text">Description</label>
        <input type="text" class="form-control" id="exampleInput" placeholder="description" [(ngModel)]="description">
        <label for="text">Image URL</label>
        <input type="text" class="form-control" id="exampleInput" placeholder="imageUrl" [(ngModel)]="imageURL">
        <hr>
        <button class="btn btn-sucess" id="Recipe"  (click)="addRecipe()">
            New recipe
         </button>
         <button class="btn btn-sucess" id="deleteRecipe"  (click)="deleteRecipe()">
          Delete recipe    
        </button>
         
     
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let recipe of recipes">

            <div class="pull-left">
                <h4 class="list-group-item-heading"> {{recipe.name}}</h4>
                <p class="list-group-item-text"> {{recipe.description}}</p>
            </div>

            <span class="pull-right">
                 <img [src]="recipe.imagePath" alt="{{recipe.name   }}" class="img-responsive" style="max-height: 50px ;">

            </span>

        </a>

        <app-recipe-item></app-recipe-item>
    </div>
</div>