<div class="row">
    <div class="col-xs-12">

        <label for="text">Name</label>
        <input type="text" class="form-control" id="exampleInput" placeholder="name" [(ngModel)]="name">
        <label for="text">Description</label>
        <input type="text" class="form-control" id="exampleInput" placeholder="description" [(ngModel)]="description">
        <label for="text">Image URL</label>
        <input type="text" class="form-control" id="exampleInput" placeholder="imageUrl" [(ngModel)]="imageURL">
        <hr>
        <button class="btn btn-sucess" id="Recipe" (click)="addRecipe()">
            New recipe
        </button>
      


    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe"
        (onSelectRecipe)="passingRecipe(recipe)"></app-recipe-item>

    </div>
</div>