<div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <form #postForm="ngForm" (ngSubmit)="onCreatepost(postForm.value)" >
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="text"
              class="form-control"
              id="name"
              required
              ngModel
              name="name"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              class="form-control"
              id="password"
              required
              ngModel
              name="password"
            /> 
          </div>


          <div class="form-group">
            <label for="email">Email</label>
            <input
              class="form-control"
              id="email"
              required
              ngModel
              name="email"
            /> 
          </div>
          <div class="form-group">
            <label for="phone">Tel</label>
            <input
              class="form-control"
              id="phone"
              required
              ngModel
              name="phone"
            /> 
          </div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!postForm.valid"
           
            >
            Send Post
          </button>
        </form>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <button class="btn btn-primary"  >
          Fetch Posts
        </button>
        |
        <button
          class="btn btn-danger"
          
        >
          Clear Posts
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
           <button class="btn btn-primary"
          (click)="getUsers()"
           > get users</button>
        <p>No posts available!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
      
      <div class="container" *ngFor="let user of users">
        <p>{{user.name}}</p>
        <p>{{user.phone}}</p>
        <p>{{user.password}}</p>
        <p>{{user.email}}</p>

      </div>
      
      
      
      
      </div>
    </div>
  </div>
  