<div class="row">
    <div class="col-xs-12">
        <form 
        [formGroup]="recipeForm" 
        (submit)="onSubmite()"
          >
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    [disabled]="!recipeForm.valid"
                    type="submit" class="btn btn-success">Save</button>
                    <button type="button" class="btn btn-danger">Cancel</button>
                </div>
            </div>
            <div class="row">
                <div class="col-xs12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" class="form-control" type="text" name="name" id="name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs12">
                    <div class="form-group">
                        <label for="imagePath">Image Path</label>
                        <input formControlName="imagePath" class="form-control" type="text" id="imagePath">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs12">
                    <img src="" class="image-responsive">
                </div>
            </div>
            <div class="row">
                <div class="col-xs12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea formControlName="description" class="form-control" rows="6" type="text"
                            id="description">
                        </textarea>
                    </div>
                </div>
            </div>
      
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="button"
                    (click)="onAddIngredient()"
                    class="btn btn-success">Add Ingredient</button>
                </div>
               </div>
          
            <hr>
           
            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div id="ingredients" class="row" *ngFor="let ingredientControl of getControls(); let i = index" [formGroup]="ingredientControl">
                        <div class="col-xs-8">
                            <input formControlName="name" class="form-control" type="text">
                        </div>
                        <div class="col-xs-2">
                            <input formControlName="amount" type="number" class="form-control">
                        </div>
                        <div class="col-xs-2">
                            <button 
                            (click)="onDeleteIngredient(i)"
                            class="btn btn-danger" >Delete</button>
                        </div>

                    </div>
                </div>
            </div>
        
        </form>
    </div>
</div>